* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    scroll-behavior: smooth;
}

/* Common */
h1,
h2 {
    font-family: "Sen", sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    border-radius: 999px;
    background: #171100;
    padding: 17px 16px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.btn--yellow {
    background: var(--primary-color);
}

.btn--active:hover {
    background: var(--primary-color);
    opacity: 1;
}

.row {
    display: flex;
}

.sub-title {
    color: #171100;
    font-size: 3.8rem;
    font-weight: 400;
    line-height: 1.263; /* 126.316% */
    letter-spacing: -0.76px;
}

.desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.666; /* 166.667% */
}

.fixed {
    top: -28px;
    position: sticky;
    z-index: 1;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-break, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-all;
}

/* header */
.header {
    background: #fffcf4;
}

.header .row {
    align-items: center;
    padding: 36px 0 8px;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar .nav__list {
    display: flex;
    margin-left: auto;
}

.nav__item {
    position: relative;
}

.nav__item a {
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav__item a:hover,
.nav__active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav__active a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -6px;
    left: 21px;
    width: 12px;
    height: 2px;
    border-radius: 2px;
    background: #171100;
}

.btn__sign-up {
    margin-left: 70px;
    min-width: 144px;
}

/* Begin hero */
.hero {
    background: #fffcf4;
    height: calc(100vh - 94px);
    padding-bottom: 56px;
}

.hero__content {
    display: flex;
}

.hero .img__block {
    width: 48.718%;
    margin-top: 64px;
    margin-right: auto;
    position: relative;
}

.img__block .images {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

/*  summary */
.info-course {
    position: absolute;
    right: 0;
    bottom: 48px;
    background: #fff;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.info-course .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #fff9e8;
    border-radius: 50%;
}

.info-course .row:nth-of-type(2) .icon {
    background: #fcefff;
}

.info-course .row:nth-of-type(3) .icon {
    background: #ebeaff;
}

.info-course .info-crs__wrap {
    margin-left: 16px;
}

.info-course .row:first-child {
    margin-top: 0;
}

.info-course .row {
    margin-top: 14px;
}

.info-course .qty {
    display: block;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.857; /* 185.714% */
}

.info-course .course {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero .info {
    width: 470px;
    margin-top: 128px;
}

.hero .info__title {
    color: #171100;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .info__desc {
    margin-top: 22px;
}

.hero .intro {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.btn__intro {
    min-width: 180px;
    padding: 24px 16px;
    border-radius: 32px;
    font-size: 1.8rem;
    font-weight: 600;
}

.intro .play__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.intro .intro__link {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.desc__achievement {
    margin-top: 48px;
}

.achievement {
    display: inline-block;
    margin-top: 8px;
    margin-right: 28px;
}

.achievement .qty {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
}

.achievement .type {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 12px;
}

/* Courses */

.courses {
    padding: 200px 0;
}

.courses .sub-title__desc {
    width: 458px;
    margin-top: 18px;
}

.courses .control {
    margin-left: auto;
}

.courses .control .icon:last-child {
    margin-left: 18px;
}

.courses .control .icon {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}

.courses .control .icon:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.courses__wrap,
.blog__wrap {
    margin-top: 55px;
    gap: 30px;
}

.courses__wrap .col,
.blog__wrap .col {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.courses__wrap .col:hover {
    border: 1px solid transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses__wrap .images:hover,
.blog__wrap .images:hover {
    opacity: 0.9;
}

.courses__wrap .images,
.blog__wrap .images {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.courses .info__wrap {
    padding: 16px 22px 22px;
}

.courses .info__wrap .row {
    justify-content: space-between;
    align-items: center;
}

.courses__name {
    padding-right: 6%;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.courses .info__wrap .rate {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
}

.courses__desc {
    margin-top: 6px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.courses__price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.courses .info__wrap .row__bottom {
    margin-top: 12px;
}

.quote {
    background: #2e2100;
    height: 380px;
}

.author {
    margin: 96px;
}

.author__avt {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.author__name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: "Sen", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41; /* 141.667% */
}

.author__job {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.dots {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

.dot {
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
    cursor: pointer;
}

.dot--active {
    background: var(--primary-color);
    cursor: default;
}

.quote__wrap {
    position: relative;
    margin-top: 124px;
    margin-left: auto;
    width: 740px;
}

.quote__content {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53; /* 153.846% */
}

.quote__wrap .icon {
    position: absolute;
    top: -28px;
    left: -30px;
}

/* Result */

.result {
    padding: 200px 0;
}

.result .row {
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}

.result .row:last-child {
    margin-top: 200px;
    flex-direction: row-reverse;
}

.result .img__block {
    display: flex;
    width: 48.75%;
    height: 438px;
    gap: 30px;
}

.result .img__block .images:first-child {
    margin-top: auto;
}

.result .img__block .images:last-child {
    height: 440px;
}

.result .img__block .images {
    flex: 1;
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.result__info {
    max-width: 570px;
}

.result__info .result-desc,
.result__info .date-report {
    margin-top: 16px;
}

.result__info .btn {
    margin-top: 32px;
    min-width: 137px;
}

/* Blog */

.blog {
    padding: 96px 0;
    background: #fffcf4;
}

.blog .row__first {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.blog .row__first .desc {
    width: 448px;
}

.blog__wrap .col {
    flex-shrink: 0;
    border: none;
}

.blog__wrap .col:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog__wrap .info__wrap {
    padding: 20px 20px 28px;
}

.info__wrap .row {
    gap: 0 4px;
    align-items: center;
}

.blog__wrap .btn {
    font-size: 1.4rem;
}

.blog__wrap .images {
    margin: 0;
    width: 100%;
    height: 278px;
    vertical-align: bottom;
}

.blog__wrap .date {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.blog__title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -12px;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog__title {
    margin-top: 25px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    position: relative;
}

.blog__wrap .btn {
    margin-top: 12px;
}

.blog .dots {
    margin-top: 38px;
    justify-content: center;
}

/* Footer */

.footer {
    background: #2e2100;
    padding: 96px 0 28px;
}

.footer .col {
    width: 21.6%;
}

.footer .col:nth-child(1) {
    width: 35%;
}

.footer .conclusion {
    margin-top: 18px;
    width: 267px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.footer .social {
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 19px;
}

.footer .title {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.footer .title::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer .list {
    margin-top: 43px;
}
.footer .item:hover {
    opacity: 0.8;
}

.footer .item a {
    margin-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.footer .item strong {
    color: #fff;
    font-weight: 600;
}

.footer .row {
    justify-content: space-between;
}

.footer .list:last-child {
    width: 231px;
}

.separate {
    margin: 38px auto 28px;
    width: 1170px;
    height: 1px;
    background: #59554b;
}

.copyright {
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
