* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Common */
h1,
h2 {
    font-family: "Sen", sans-serif;
}

a {
    text-decoration: none;
}

.btn {
    min-width: 118px;
    border-radius: 24.5px;
    background: #171100;
    padding: 17px 16px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

.btn--yellow {
    background: #ffb900;
}

.row {
    display: flex;
}

/* header */
.header {
    padding-top: 36px;
    background: #fffcf4;
    top: 0;
    position: sticky;
    z-index: 1;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar .nav__list {
    display: flex;
    margin-left: auto;
    gap: 42px;
}

.navbar .nav__item {
    position: relative;
}

.navbar .nav__item:hover a {
    color: #171100;
    font-weight: 600;
}

.navbar .nav__item:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 12px;
    height: 2px;
    border-radius: 2px;
    background: #171100;
    transition: ease-in 0.1ms;
}

.navbar .nav__item a {
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.btn__nav {
    margin-left: 70px;
    min-width: 144px;
}

/* Begin hero */
.hero {
    background: #fffcf4;
    height: calc(100vh - 94px);
    padding-bottom: 65px;
}

.hero__content {
    display: flex;
}

.img__block {
    width: 48.75%;
    margin-top: 64px;
    margin-right: auto;
    position: relative;
}

.img__block .images {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.info-course {
    position: absolute;
    right: 0;
    bottom: 48px;
    background: #fff;
    width: 270px;
    height: 244px;
    padding: 24px 0 24px 24px;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.info-course .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #fff9e8;
    border-radius: 50%;
}

.info-course .info-crs__wrap {
    margin-left: 16px;
}

.info-course .row:first-child {
    margin-top: 0;
}

.info-course .row {
    margin-top: 14px;
}

.info-course .qty {
    display: block;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.857; /* 185.714% */
}

.info-course .course {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero .info {
    width: 470px;
    margin-top: 128px;
}

.hero .info__title {
    color: #171100;
    font-size: 5.8rem;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -1px;
}

.hero .info__desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.666; /* 166.667% */
}

.hero .intro {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.btn__intro {
    min-width: 180px;
    padding: 24px 16px;
    border-radius: 32px;
    font-size: 1.8rem;
    font-weight: 600;
}

.intro .play__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.intro .intro__link {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.desc__achievement {
    margin-top: 48px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.achievement {
    display: inline-block;
    margin-top: 8px;
    margin-right: 28px;
}

.achievement .qty {
    color: #171100;
    font-size: 4.4rem;
    font-weight: 600;
}

.achievement .type {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 12px;
}

/* Courses */

.courses {
    padding: 200px 0;
    height: 100vh;
}

.courses .sub-title {
    color: #171100;
    font-size: 3.8rem;
    font-weight: 400;
    line-height: 1.263; /* 126.316% */
    letter-spacing: -0.76px;
}

.courses .sub-title__desc {
    margin-top: 18px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.courses .control {
    margin-left: auto;
}

.courses .control a:last-child {
    margin-left: 18px;
}

.courses__wrap {
    margin-top: 55px;
    gap: 30px;
}

.courses__wrap .col {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.courses__wrap .images {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.courses .info__wrap {
    padding: 16px 22px 22px;
}

.courses .info__wrap .row {
    justify-content: space-between;
    align-items: center;
}

.courses__name {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.courses .info__wrap .rate {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
}

.courses__desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 175% */
}

.courses__price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.courses .info__wrap .row__bottom {
    margin-top: 12px;
}
